{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Assessments - SkillBott</title>
<meta name="Keywords" content="skillbott,learning tools,learning community,educational software,RTI,literacy,fluency,data driven instruction,soft skills,text to speech, learning support tools,teaching aids,teacher tools,core curriculum, universal screener">
<meta name="Description" content="Reading, Writing, Math, Science, Social Science, Fluency, Career Choices, Text to Speech. Assessment and reporting capabilities - based on real life experiences and contextual based learning models.">
<link href="{% static 'images/skillbot_favicon.jpg' %}" rel="shortcut icon" type="image/x-icon" />
<link href="{% static 'css/assess.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/print.css' %}" rel="stylesheet" type="text/css" media="print" />
</head>

{% block content %}
{% endblock %}

</html>
