<table>
  <tr><td class='analysis_table' style='background:#FFEE44;'>
  <b>YELLOW SCORING TABLE: (total of weighted yellow totals)</b>
  </td></tr>
  <tr><td class='analysis_table' style='background:#FFEE44;'>
  0 - 5	  = Might Indicate You Show a Low Interest in the Subject
  </td></tr>
  <tr><td class='analysis_table' style='background:#FFEE44;'>
  6 - 10  = Might Indicate You Show a Mid Level Interest in the Subject
  </td></tr>
  <tr><td class='analysis_table' style='background:#FFEE44;'>
  11- 14 = Might Indicate You Show a High Interest in the Subject
  </td></tr>
  <tr><td></td></tr>
  <tr><td class='analysis_table' style='background:#66CC22;'>
  <b>GREEN SCORING TABLE: (mode - the highest frequency value)</b>
  </td></tr>
  <tr><td class='analysis_table' style='background:#66CC22;'>
  1 = Might Indicate You Show Interest in Working with Items or Things
  </td></tr>
  <tr><td class='analysis_table' style='background:#66CC22;'>
  2 = Might Indicate You Show Interest in Working with Interpersonal Relations
  </td></tr>
  <tr><td class='analysis_table' style='background:#66CC22;'>
  3 = Might Indicate You Show Interest in Working with Ideas or Data/Concepts
  </td></tr>
</table>
