<table>
  <tr><td class='analysis_table' style='background:#FFEE44;'>
  <b>YELLOW SCORING TABLE: (total of weighted yellow totals)</b>
  </td></tr>
  <tr><td class='analysis_table' style='background:#FFEE44;'>
  0 - 7	= Might Indicate You Currently Possess a Lower Skill Level in this Area
  </td></tr>
  <tr><td class='analysis_table' style='background:#FFEE44;'>
  8 - 14 = Might Indicate You Currently Possess a Medium Skill Level in this Area
  </td></tr>
  <tr><td class='analysis_table' style='background:#FFEE44;'>
  15 - 20 = Might Indicate You Currently Possess a High Skill Level in this Area
  </td></tr>
  <tr><td></td></tr>
  <tr><td class='analysis_table' style='background:#66CC22;'>
  <b>GREEN SCORING TABLE: (total of weighted green totals)</b>
  </td></tr>
  <tr><td class='analysis_table' style='background:#66CC22;'>
  0 - 7	= Might Indicate You Have Very Little Interest in Improving This Skill Set
  </td></tr>
  <tr><td class='analysis_table' style='background:#66CC22;'>
  8 - 14 = Might Indicate You Will Use Your Experiences to Improve This Skill Set
  </td></tr>
  <tr><td class='analysis_table' style='background:#66CC22;'>
  15 - 20 = Might Indicate You Will Pursue Additional Training to Improve This Skill Set
  </td></tr>
</table>
