<table>
  <tr><td class='analysis_table' style='background:#FFEE44;'>
  <b>YELLOW SCORING TABLE: (total of weighted yellow totals)</b>
  </td></tr>
  <tr><td class='analysis_table' style='background:#FFEE44;'>
  0 - 7	  = Might Indicate You Currently Possess a Lower Need for this Area
  </td></tr>
  <tr><td class='analysis_table' style='background:#FFEE44;'>
  8 - 14  = Might Indicate You Have a Medium Need for this Area
  </td></tr>
  <tr><td class='analysis_table' style='background:#FFEE44;'>
  15 - 20 = Might Indicate You Have a Higher Need for this Area
  </td></tr>
  <tr><td></td></tr>
  <tr><td class='analysis_table' style='background:#66CC22;'>
  <b>GREEN SCORING TABLE: (mode - the highest frequency value)</b>
  </td></tr>
  <tr><td class='analysis_table' style='background:#66CC22;'>
  0 - 7 = Might Indicate You Have a Lower Need for this Area
  </td></tr>
  <tr><td class='analysis_table' style='background:#66CC22;'>
  8 - 14 = Might Indicate You Have a Medium Need for this Area
  </td></tr>
  <tr><td class='analysis_table' style='background:#66CC22;'>
  15 - 20 = Might Indicate You Will Have a Higher Need for this Area
  </td></tr>
</table>
